One dataset for regression purposes  
Target variable is a continuous value which is rating of a movie  
The link for the dataset: https://www.kaggle.com/datasets/kianindeed/imdb-movie-dataset-dec-2023

In [1]:
# pip install matplotlib
# !pip install seaborn
#!pip install sklearn
# !pip install scikit-learn
# !pip install ydata-profiling
#!pip install numpy==1.21
# !pip install --upgrade --force-reinstall setuptools
#!pip install six

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
# upload data
df = pd.read_csv("bank.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
from ydata_profiling import ProfileReport

# I have decided to try a tool which can help to optimize work proccess
# work smart and not hard :)

# Generate the data profiling report, title is just 
report = ProfileReport(df, title="bank, ydata report")

# create either an HTML -page or show it straight in the notebook
# sometimes the HTML -page is easier to browse!
report.to_file("bank.html")
#report.to_notebook_iframe()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
# Insights:

# Even though the majority of analysis outcomes are the same
# as in the other notebooks, for example about correlations,
# I am still quite impressed by the insights I have received
# from reading this report.

# The Ydata report shows that:
# Default is highly imbalanced (88.7%) - Imbalance.
# In predictive modeling, particularly for classification tasks, 
# having such an imbalance between classes (in this case, between 
# "no default" and "default") can lead to biased models. 
# The model could become overly focused on predicting the majority 
# class (i.e., "no default"), because it has much more data to learn 
# from, and as a result, it might perform poorly when predicting 
# the minority class (i.e., "default").

# As a solution, I might remove the variable entirely or resample the data.

# Zeros in variables!!
# I had never taken into consideration this factor,
# that columns might have zeros instead of actual data.
# For instance, Balance has 774 (6.9%) zero values, 
# meaning a small portion of clients have no balance, 
# which could be an important factor when predicting.
# Or for example, Previous has 8324 (74.6%) zero values, 
# meaning the majority of clients have not been contacted 
# before the current campaign. This could influence the 
# interpretation of the Pdays variable and the campaign’s 
# overall effectiveness.