## Sweetwiz report

In [1]:
#!pip install numpy==1.26.4

In [2]:
# pip install matplotlib
# !pip install seaborn
#!pip install sklearn
# !pip install scikit-learn
# !pip install ydata-profiling
#!pip install numpy==1.21
# !pip install --upgrade --force-reinstall setuptools
#!pip install six

#!pip install sweetviz
#!pip install ipywidgets
#pip uninstall setuptools

#pip install --upgrade pip setuptools
#pip cache purge
#!pip install numpy==1.20
#pip install wheel

# I tried different troubleshooting methods
# and suddenly I realized that maybe Ydata does not work because 
# I have also string data
# I need to modify all data into numeric

In [3]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics

import sweetviz as sv

In [4]:
# upload data
df = pd.read_csv("bank.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [7]:
# analyze and create HTML-report
report = sv.analyze(df)
report.show_html('sweetviz_report_bank.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sweetviz_report_bank.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [6]:
# Insights:

# It’s easy to make a basic analysis about the number of rows, NaN values, 
# etc., because I don’t need to write many command lines to see this information.

# I will not go through basic info for every variable.
# I will focus on associations and relationships.

# Key Relationships:
# There is a notable positive correlation between duration and deposit. 
# This suggests that the longer a client is engaged during a contact, 
# the higher the likelihood of them making a deposit. 
# This is one of the strongest relationships in the matrix.
# But considering the analysis from the LIME and Phik matrix,
# it works the opposite: less time spent results in a more positive outcome.

# Poutcome (the outcome of the previous marketing campaign) also 
# has a strong correlation with deposit. 
# If the result of the previous campaign was successful, 
# it significantly influences the likelihood 
# of a deposit being made in the current campaign 
# because they trust the company and know how the system works.

# Pdays (the number of days since the client was last contacted) shows 
# a moderate positive correlation with deposit. 
# Clients who haven’t been contacted for a longer period 
# may be more likely to respond positively and make a deposit.
# As I mentioned earlier, it might be due to the annoyance of continuous ads.

# Good insight:
# Other demographic factors like age, education, and job 
# don’t show strong associations with the deposit outcome, 
# indicating that behavioral aspects (such as response to 
# previous campaigns or contact duration) are more critical 
# in this dataset.